<html>

<head>
  <style>
    .entry {
      width: 100% height: 10%
    }
  </style>
</head>

<body>
  <div id="entry">
    <form name="createStrategy" id="createStrategy" method="post" action="createStrategy">
      <label for="exchange">Select an exchange</label>
      <select name="exchange">
          <option value="Hitbtc">Hitbtc</option>
      </select>
      <br/>
      <label for="pair">Pair:</label>
      <input type="text" id="pair" name="pair" value="ETHBTC" />
      <br/>
      <label for="limit">Limit:</label>
      <input type="text" id="limit" name="limit" value="100" />
      <br/>
      <label for="period">Period:</label>
      <select name="period">
          <option value="M1">1 minute</option>
          <option value="M3">3 minutes</option>
          <option value="M5">5 minutes</option>
          <option value="M15">15 minutes</option>
          <option value="M30">30 minutes</option>
          <option value="H1">1 hour</option>
          <option value="H4">4 hours</option>
          <option value="D1">1 day</option>
          <option value="D7">1 week</option>
          <option value="1M">1 month</option>
      </select>
      <br/>

      <label for="Strategy">Select an Strategy</label>
      <select name="Strategy">
          <option value="TripleEMA_SAR">TripleEMA_sar</option>
      </select>
      <br/>
      <label for="EMA_min">EMA_min:</label>
      <input type="text" id="EMA_min" name="EMA_min" value="14" />
      <br/>
      <label for="EMA_mid">EMA_mid:</label>
      <input type="text" id="EMA_mid" name="EMA_mid"  value="50" />
      <br/>
      <label for="EMA_max">EMA_max:</label>
      <input type="text" id="EMA_max" name="EMA_max"  value="200" />
      <br/>
      <input type="submit" value="Create Strategy" />
    </form>
  </div>
</body>

</html>
