<html>

<head>
  <style>

    #body{background-color: black;
      overflow-y:hidden;
    }

    #infoDiv {
      top: 0px;
      width="1230px";
      position: absolute;
      height: 60px;

    }

    #main {
      position: absolute;
      height: 100%;
    }

    #scaleX > div {
        display: inline-block;
    }
    #scaleX:after{
        content: ' ';
        width: 100%;
        display: inline-block;
    }

    #scaleX{
      position: absolute;
      height: 30px;
      width: 1230px;
      top: 830px;
      text-align: justify;
    }

    #scaleY{
      position: absolute;
      width: 80px;
      left: 1150px;
      height: 770px;
      top: 60px;
    }

    /* #divPrice{

      width: 60px;
      left: 1180px;
      height: 20px;
      background-color: white;
      font-size: 8pt;
      font-weight: bold;
      text-align:center;
      line-height: 20px;
      color: black;
    } */

    .divPrice {
      position: absolute;
      font-size: 8pt;
      font-weight: bold;
      text-align:center;
      line-height: 20px;
      width: 80px;
      left: 1150px;
      height: 20px;
    	background: white;
    	border: 0px solid black;
    }
    .divPrice:after, .divPrice:before {
    	right: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    .divPrice:after {
    	border-color: rgba(136, 183, 213, 0);
    	border-right-color: white;
    	border-width: 6px;
    	margin-top: -6px;
    }
    .divPrice:before {
    	border-color: rgba(194, 225, 245, 0);
    	/* border-right-color: black; */
    	border-width: 10px;
    	margin-top: -10px;
    }

    .pair{
      position: absolute;
      height: 100%;
      width: 100%;
      color: white;
      font-size: 40px;
      font-style:italic;
      display: table
    }
    .pair span{
      vertical-align: bottom;
      display: table-cell;
    }

    .infoOLHC span{
      vertical-align: bottom;
      display: table-cell;
    }

    .infoOLHC{
      font-size: 15px;
      color: white;
      left: 200px;
      width:700px;
      height: 100%;
      position: absolute;
      display: table;
      font-style: italic;
    }

    .timeX{
      color: white;
      font-size:8px;
      width: 100%;
    }

    #marketCanvas {
      position: absolute;
      top:60px;
    }
  </style>
  <script>
    var Watcher = <%- JSON.stringify(watcher) %>
  </script>
</head>

<body id="body">
  <div id="main">
    <div id="infoDiv">
    </div>
    <canvas id="marketCanvas" width="1150" height="770px">
        Canvas not supported by browser
    </canvas>
    <canvas id="scaleY" width="80px" height="770px">
        Canvas not supported by browser
    </canvas>
    <!--canvas id="scaleX" width="1260px" height="30px">
        Canvas not supported by browser
    </canva-->
    <div id="scaleX" width="1230px" height="30px">
    </div>

    <script src="/src/canvas.js"></script>
    <script>
      setWatcher(<%- JSON.stringify(watcher) %>)
      // drawGrid()
      // drawAxes()
      candlesToShow = getCandles(candleIdx)
      drawCandles(candlesToShow)
      showInfo()
      saveDrawingSurface()
    </script>
  </div>

</body>

</html>
