<html>

<head>
  <style>

    #body{background-color: black}

    #infoDiv {
      top: 0px;
      position: absolute;
      height: 60px;
    }

    #main {
      position: absolute;
      height: 100%;
    }

    #scaleX{
      position: absolute;
      height: 30px;
      top: 830px;
    }

    #scaleY{
      position: absolute;
      width: 80px;
      left: 1180px;
      height: 770px;
      top: 60px;
    }


    #marketCanvas {
      position: absolute;
      top:60px;
    }
  </style>
  <script>
    var Watcher = <%- JSON.stringify(watcher) %>
  </script>
</head>

<body id="body">
  <div id="main">
    <a href="javascript:moveLeft()">Left</a>
    &nbsp;
    <a href="javascript:moveRight()">Right</a>
    <canvas id="marketCanvas" width="1180" height="770px">
        Canvas not supported by browser
    </canvas>
    <canvas id="scaleY" width="80px" height="770px">
        Canvas not supported by browser
    </canvas>
    <canvas id="scaleX" width="1260px" height="30px">
        Canvas not supported by browser
    </canvas>

    <script src="/src/canvas.js"></script>
    <script>
      setWatcher(<%- JSON.stringify(watcher) %>)
      drawGrid('gray', 100, 50)
      drawAxes()
      moveLeft()
      saveDrawingSurface();
    </script>
  </div>

</body>

</html>
